Wifi/flows.json
[
    {
        "id": "09699e13d29fead4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ee45cdc2acb623f",
        "type": "mqtt in",
        "z": "09699e13d29fead4",
        "name": "",
        "topic": "4ID3_GroupF/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "536902c5ebe53494",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "902fe3f0e0687616",
                "d94d9fff951d9f32"
            ]
        ]
    },
    {
        "id": "902fe3f0e0687616",
        "type": "debug",
        "z": "09699e13d29fead4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "d94d9fff951d9f32",
        "type": "ui_chart",
        "z": "09699e13d29fead4",
        "name": "",
        "group": "d930b94dc9844ef9",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "bbe2fbbba59be9be",
        "type": "mqtt in",
        "z": "09699e13d29fead4",
        "name": "",
        "topic": "4ID3_GroupF/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "536902c5ebe53494",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "b8bc4b054db06a03",
                "d695d9921f9e675c"
            ]
        ]
    },
    {
        "id": "d193ebdb97f88a74",
        "type": "mqtt in",
        "z": "09699e13d29fead4",
        "name": "",
        "topic": "4ID3_GroupF/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "536902c5ebe53494",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "ad8fc51fed68aaa6",
                "0cfebf01db1cd11c"
            ]
        ]
    },
    {
        "id": "b8bc4b054db06a03",
        "type": "debug",
        "z": "09699e13d29fead4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 260,
        "wires": []
    },
    {
        "id": "ad8fc51fed68aaa6",
        "type": "debug",
        "z": "09699e13d29fead4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 380,
        "wires": []
    },
    {
        "id": "a6de263797af1ab0",
        "type": "mqtt in",
        "z": "09699e13d29fead4",
        "name": "",
        "topic": "4ID3_GroupF/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "536902c5ebe53494",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "9a0fddd27edd4aa7",
                "87d10170ec82a39a"
            ]
        ]
    },
    {
        "id": "d695d9921f9e675c",
        "type": "ui_chart",
        "z": "09699e13d29fead4",
        "name": "",
        "group": "d930b94dc9844ef9",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ec3c5f",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "0cfebf01db1cd11c",
        "type": "ui_chart",
        "z": "09699e13d29fead4",
        "name": "",
        "group": "d930b94dc9844ef9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "87d10170ec82a39a",
        "type": "ui_chart",
        "z": "09699e13d29fead4",
        "name": "",
        "group": "d930b94dc9844ef9",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#cedced",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "9a0fddd27edd4aa7",
        "type": "debug",
        "z": "09699e13d29fead4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 480,
        "wires": []
    },
    {
        "id": "536902c5ebe53494",
        "type": "mqtt-broker",
        "name": "Mosquitto Test",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d930b94dc9844ef9",
        "type": "ui_group",
        "name": "Default",
        "tab": "eaadddb5d382f311",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eaadddb5d382f311",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]